*{
    font-family: Arial;
 }
 body {
    background-color: #f5f5f5;
}
.conteudo {
    background-image: url('../images/sobre.jpg');
    background-size: cover;
    background-position: center top;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.overlay {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
}


@media (min-width: 580px) {
    .overlay {
        width: 50%;
    }
}