* {
    font-family: Arial;
}

body {
    background-color: #f5f5f5;
}

.titulos {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #7a7a7a, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.textos{
   font-size: 18px;
   letter-spacing: 1px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   color: #333;
}
.custom-navbar .navbar-nav li a {
    color: #777777;
    font-size: 16px;
    letter-spacing: 1px;
 }
 

 .custom-navbar .navbar-nav li a:hover,
 .custom-navbar .navbar-nav li a:focus {
    color: #000000;
 }
.conteudo {
    background-image: url('../images/sobre.jpg');
    background-size: cover;
    background-position: center top;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.overlay {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.img-zoom {
    transition: transform 0.4s;
}

.img-zoom:hover {
    transform: scale(1.05);
}


.imagem_proj {
    background-image: url('../images/projetos.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.titulo {
    color: white;
    padding: 10px;
    max-width: 100%;
    position: relative;
}

.quadrado {
    text-decoration: none;
    color: black;
    transition: color 1.0s;
}

.quadrado:hover {
    background-color: rgb(202, 202, 202);
    transition: background-color 1.5s;
    color: white;
}

.overlayimg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-image {
    max-width: 100%;
    max-height: 90vh;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 580px) {
    .overlay {
        width: 50%;
    }
}